<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,803},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{98,116}}</string>
                <key>sourceSize</key>
                <string>{108,128}</string>
            </dict>
            <key>00.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,801},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,125}}</string>
                <key>sourceSize</key>
                <string>{108,127}</string>
            </dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{106,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,127}}</string>
                <key>sourceSize</key>
                <string>{108,127}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,798},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,125}}</string>
                <key>sourceSize</key>
                <string>{108,127}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,690},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,125}}</string>
                <key>sourceSize</key>
                <string>{108,127}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,331},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,125}}</string>
                <key>sourceSize</key>
                <string>{108,127}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,690},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,125}}</string>
                <key>sourceSize</key>
                <string>{108,127}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,685},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{98,116}}</string>
                <key>sourceSize</key>
                <string>{108,128}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,445},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,334},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,113},{111,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,335},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,221},{109,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,892},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,458},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{98,116}}</string>
                <key>sourceSize</key>
                <string>{108,128}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,781},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,670},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,909},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,559},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,448},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,892},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,798},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{98,116}}</string>
                <key>sourceSize</key>
                <string>{108,128}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,458},{111,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,103}}</string>
                <key>sourceSize</key>
                <string>{111,105}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,458},{109,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,103}}</string>
                <key>sourceSize</key>
                <string>{111,105}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,221},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{111,110}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,110},{109,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,909},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,224},{109,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,105}}</string>
                <key>sourceSize</key>
                <string>{111,105}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,798},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{98,116}}</string>
                <key>sourceSize</key>
                <string>{108,128}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,781},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,670},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,781},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,670},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,559},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>45.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,559},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,798},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{98,116}}</string>
                <key>sourceSize</key>
                <string>{108,128}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,110},{105,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,331},{105,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,224},{105,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,558},{105,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,117},{105,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,331},{105,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>60.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,690},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,125}}</string>
                <key>sourceSize</key>
                <string>{106,125}</string>
            </dict>
            <key>61.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,563},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,125}}</string>
                <key>sourceSize</key>
                <string>{106,125}</string>
            </dict>
            <key>62.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,436},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,125}}</string>
                <key>sourceSize</key>
                <string>{106,125}</string>
            </dict>
            <key>63.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,309},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,125}}</string>
                <key>sourceSize</key>
                <string>{106,125}</string>
            </dict>
            <key>64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,125}}</string>
                <key>sourceSize</key>
                <string>{106,125}</string>
            </dict>
            <key>65.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,125}}</string>
                <key>sourceSize</key>
                <string>{106,125}</string>
            </dict>
            <key>70.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,563},{105,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>71.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,331},{105,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>72.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,563},{105,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>73.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,224},{105,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>74.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,563},{105,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>75.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,898},{105,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>80.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,898},{105,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,126}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>81.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,670},{105,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,126}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>82.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,542},{105,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,126}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>83.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,348},{105,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,126}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>84.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,220},{105,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,126}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>85.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,117},{105,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,126}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,188},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{119,119}}</string>
                <key>sourceSize</key>
                <string>{137,131}</string>
            </dict>
            <key>90.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,448},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>91.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,335},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>92.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,903},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>93.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,224},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>94.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,690},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>95.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,898},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>Decor_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,670},{46,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,13}}</string>
                <key>sourceSize</key>
                <string>{46,13}</string>
            </dict>
            <key>Great.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{288,121}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{288,121}}</string>
                <key>sourceSize</key>
                <string>{290,125}</string>
            </dict>
            <key>Miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,188},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,82}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>Perfect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{340,121}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{340,121}}</string>
                <key>sourceSize</key>
                <string>{340,125}</string>
            </dict>
            <key>Ring_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,925},{42,96}}</string>
                <key>offset</key>
                <string>{35,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,13},{42,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Shadow 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{132,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{132,113}}</string>
                <key>sourceSize</key>
                <string>{138,115}</string>
            </dict>
            <key>Shadow 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{128,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{128,109}}</string>
                <key>sourceSize</key>
                <string>{138,115}</string>
            </dict>
            <key>Shadow 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{132,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{132,109}}</string>
                <key>sourceSize</key>
                <string>{138,115}</string>
            </dict>
            <key>Show fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,220},{62,320}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,320}}</string>
                <key>sourceSize</key>
                <string>{64,320}</string>
            </dict>
            <key>flare.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,216}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{252,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>half Circle min.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{240,184}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{240,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magic_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,476},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BlockAtlas.png</string>
            <key>size</key>
            <string>{1183,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a50c22854b91f141b3b0a7215b374eca$</string>
            <key>textureFileName</key>
            <string>BlockAtlas.png</string>
        </dict>
    </dict>
</plist>
