<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1814},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>00.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1705},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{98,116}}</string>
                <key>sourceSize</key>
                <string>{108,128}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1689},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1111},{123,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,121}}</string>
                <key>sourceSize</key>
                <string>{123,121}</string>
            </dict>
            <key>1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1716},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,981},{123,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,133}}</string>
                <key>sourceSize</key>
                <string>{123,133}</string>
            </dict>
            <key>1111.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1456},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,125}}</string>
                <key>sourceSize</key>
                <string>{108,127}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1285},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,135}}</string>
                <key>sourceSize</key>
                <string>{133,135}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1807},{143,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,132}}</string>
                <key>sourceSize</key>
                <string>{143,132}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1142},{141,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,137}}</string>
                <key>sourceSize</key>
                <string>{141,137}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1591},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1827},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1466},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1716},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1564},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1359},{111,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{111,103}}</string>
                <key>sourceSize</key>
                <string>{111,105}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1234},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1599},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,986},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>66.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1472},{105,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>6tris-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1827},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1116},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>77.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1241},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,125}}</string>
                <key>sourceSize</key>
                <string>{106,125}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1569},{131,134}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{131,134}}</string>
                <key>sourceSize</key>
                <string>{131,136}</string>
            </dict>
            <key>88.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1359},{105,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1805},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>99.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1349},{105,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,126}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>light8.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1827},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{111,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,49}}</string>
                <key>sourceSize</key>
                <string>{111,49}</string>
            </dict>
            <key>使用中.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1163},{180,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,53}}</string>
                <key>sourceSize</key>
                <string>{180,53}</string>
            </dict>
            <key>发光.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{998,283}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{998,283}}</string>
                <key>sourceSize</key>
                <string>{1000,283}</string>
            </dict>
            <key>困难.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1046},{57,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,28}}</string>
                <key>sourceSize</key>
                <string>{57,28}</string>
            </dict>
            <key>圆星星紫.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1244},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>圆星星绿.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1210},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>圆星星青.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,926},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>完成.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1422},{145,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,121}}</string>
                <key>sourceSize</key>
                <string>{145,121}</string>
            </dict>
            <key>已拥有.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,981},{180,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,53}}</string>
                <key>sourceSize</key>
                <string>{180,53}</string>
            </dict>
            <key>播放看视频青.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,981},{159,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,139}}</string>
                <key>sourceSize</key>
                <string>{159,139}</string>
            </dict>
            <key>播放紫.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1646},{159,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,139}}</string>
                <key>sourceSize</key>
                <string>{159,139}</string>
            </dict>
            <key>播放绿色.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1485},{159,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,139}}</string>
                <key>sourceSize</key>
                <string>{159,139}</string>
            </dict>
            <key>播放视频紫.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1324},{159,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,139}}</string>
                <key>sourceSize</key>
                <string>{159,139}</string>
            </dict>
            <key>播放视频绿.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1163},{159,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,139}}</string>
                <key>sourceSize</key>
                <string>{159,139}</string>
            </dict>
            <key>播放青色.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1002},{159,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,139}}</string>
                <key>sourceSize</key>
                <string>{159,139}</string>
            </dict>
            <key>星星（紫色）.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1175},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>星星（绿色）.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1140},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>星星（青色）.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1105},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>普通.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,986},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{58,28}</string>
            </dict>
            <key>框拷贝.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{718,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,151}}</string>
                <key>sourceSize</key>
                <string>{718,151}</string>
            </dict>
            <key>简单.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1926},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{58,28}</string>
            </dict>
            <key>视频解锁.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,926},{180,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,53}}</string>
                <key>sourceSize</key>
                <string>{180,53}</string>
            </dict>
            <key>购买金币的框.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,722},{159,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,139}}</string>
                <key>sourceSize</key>
                <string>{159,139}</string>
            </dict>
            <key>金币.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1885},{56,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,61}}</string>
                <key>sourceSize</key>
                <string>{56,61}</string>
            </dict>
            <key>金币多多.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,883},{127,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,101}}</string>
                <key>sourceSize</key>
                <string>{127,101}</string>
            </dict>
            <key>金币解锁.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,926},{180,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,53}}</string>
                <key>sourceSize</key>
                <string>{180,53}</string>
            </dict>
            <key>音乐条困难.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{922,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{922,200}}</string>
                <key>sourceSize</key>
                <string>{922,200}</string>
            </dict>
            <key>音乐条普通.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{922,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{922,200}}</string>
                <key>sourceSize</key>
                <string>{922,200}</string>
            </dict>
            <key>音乐条简单.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{922,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{922,200}}</string>
                <key>sourceSize</key>
                <string>{922,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HomeSprites.png</string>
            <key>size</key>
            <string>{844,1977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc61e8229956046315dd7df165c5925d$</string>
            <key>textureFileName</key>
            <string>HomeSprites.png</string>
        </dict>
    </dict>
</plist>
